# INFISICAL CLOUD MACHINE IDENTITY
INFISICAL_PROJECT_ID=your-infisical-project-id
INFISICAL_CLIENT_ID=your-machine-identity-client-id
INFISICAL_CLIENT_SECRET=your-machine-identity-client-secret

# ENVIRONMENT & FALLBACK (LOKAL)
ENVIRONMENT=dev

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
GCP_PROJECT_ID=my-project-id
GOOGLE_APPLICATION_CREDENTIALS=./secrets/sa-key.json